# Copy this file to .env and fill in your values
# NEVER commit the actual .env file to GitHub

PORT=5000

# MySQL (Railway gives you these values)
DB_HOST=kodama.proxy.rlwy.net
DB_PORT=26208
DB_USER=root
DB_PASSWORD=YPRGKpzTzBIpnCAaSRPnVviMIQaVRaqj
DB_NAME=railway

# JWT Secret (any random long string)
JWT_SECRET=myportfolio_super_secret_key_2024

# Admin credentials (for logging into admin panel)
ADMIN_EMAIL=you@example.com
ADMIN_PASSWORD=your_admin_password

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173
